proyecto-4-price-monitoring-telegram/workflow-price-monitoring-telegram.json
{
  "nodes": [
    {
      "id": "1",
      "name": "Cron Diario",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [240, 300],
      "parameters": {
        "triggerTimes": [
          {
            "hour": 8,
            "minute": 0
          }
        ]
      }
    },
    {
      "id": "2",
      "name": "Consultar precio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [500, 300],
      "parameters": {
        "url": "https://api.example.com/product/12345",
        "method": "GET",
        "responseFormat": "json"
      }
    },
    {
      "id": "3",
      "name": "Verificar precio",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [760, 300],
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "{{$json.price}}",
              "operation": "smaller",
              "value2": "100"
            }
          ]
        }
      }
    },
    {
      "id": "4",
      "name": "Enviar alerta Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1000, 300],
      "parameters": {
        "operation": "sendMessage",
        "chatId": "TU_CHAT_ID",
        "text": "¡Alerta! El precio bajó a {{$json.price}}. Revisa el producto aquí: https://example.com/product/12345"
      },
      "credentials": {
        "telegramApi": {
          "id": "TU_CREDENCIAL_TELEGRAM",
          "name": "Telegram Account"
        }
      }
    }
  ],
  "connections": {
    "Cron Diario": {
      "main": [
        [
          {
            "node": "Consultar precio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar precio": {
      "main": [
        [
          {
            "node": "Verificar precio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar precio": {
      "main": [
        null,
        [
          {
            "node": "Enviar alerta Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
